
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 604px;
    height: 733px;
    margin: 20px;
    padding: 0;
}

h1 {
    font-size: 22px;
}

nav {
    background-color: rgb(243, 243, 243);
    height: 40px;
    display: flex;
    align-items: center;
}

nav button {
    color:rgb(35, 7, 63);
}

ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: start;
}

p {
    margin-bottom: 0%;
    margin-top: 0;
    font-size: 14px;
}

li {
    height: 20px;
    margin: 5px;
    display: flex;
    align-items: center;
}

button {
    background-color: rgb(243, 243, 243);
    height: 30px;
    border: none;
    border-radius: 5%;
}

label {
    font-size: 14px;
    color: #000;
    color: rgba(0, 0, 0, 0.5);
}

form {
    display: flex;
    flex-direction: column;
    width: 350px;
}

input {
    width: 100%;
    height: 30px;
}

select {
    width: auto;
    height: 34px;
    padding-block: 1px;
    padding-inline: 2px;
    cursor: pointer;
}

select:focus {
    height: auto;
}

fieldset {
    border: 0;
    margin: 0%;
    padding: 0;
}

legend {
    font-size: 14px;
    color: #000;
    color: rgba(0, 0, 0, 0.5);
}

.red-star {
    color: red;
}

.phone {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.phone .form__field-container span {
    width: 150px;
}

.birthday {
    width: 356px;
}

.birthday_field {
    position: relative;
}

.form__error {
    position: absolute;
    width: 340px;
    color: blue;
    font-size: 12px;
}

.form__type-input {
    color: black;
    font-size: 16px;
}

.form__empty-error {
    color: blue;
    font-size: 12px;
}

.form__error.input__email-error.form__error-active {
    top: 180px;
}

.date-inputs {
    width: auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.gender {
    width: 260px;
    display: flex;
    justify-content: space-between;
}

.gender label {
    display: flex;
    align-items: center;
    width: 100px;
    height: 26px;
    font-size: 14px;

    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5%;
    cursor: pointer;
}


.male::after,
.female::after {
    margin-left: 20px;
    display: inline;
    visibility: hidden;

    content: '\2713';
    font-size: 14px;
    line-height: 30px;
}

.button {
    width: 180px;
    color: white;
    height: 40px;
    border: 0, solid, black;
    background-color: rgb(253, 93, 0);
    border-radius: 2%;
    transition: all 0.2s ease;
}

.button-changings:active {
    transform: translateY(2px);
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+label {
    color: orange;
    font-weight: bold;
    border-color: orange;
}

input[type='radio']:checked+label::after {
    visibility: inherit;
}

label[id="male"]:hover,
label[id="female"]:hover {
    border-color: orange;
}







